-@ val data: String
h1(id="title" style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom: 0')
canvas(id='burndown-chart' style='height: 100%; width: 100%')
script renderChart(#{unescape(data)});
